HOST_URL=http://localhost:8081

DB_HOST=localhost
DB_PORT=6432
LISTEN_DB_HOST=localhost
LISTEN_DB_PORT=5432

LOG_LEVEL=LevelDebug

SMTP_SERVER=mailhog
SMTP_PORT=1025
SMTP_LOGIN=
SMTP_PASSWORD=

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
