/* !Important to overrule bootstrap */
body {
  background-color: #fbfafa !important;
  color: #1c2c3b !important;
}

.input-without-icon {
  width: 100%;
  border-radius: 5px;
}

.input-field-with-icon {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.input-icon-container {
  background-color: #eaebef;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.input-icon-container-container {
  flex: 1;
  margin-left: 0.5rem;
}

.input-icon {
  display: block;
  margin: auto;
}

.submit-button-container {
  margin-top: 1rem;
}

/* !Important to overrule bootstrap */
.submit-button {
  background-color: #1c2c3b !important;
}

.date-input-flex-container {
  display: flex;
  color: black;
}

.input-flex {
  flex: 2;
}

.input-top-margin {
  margin-top: 1rem;
}

/* stuff related to the the datepicker window */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_window {
  position: relative;
  background-color: white;
  padding: 4em 2em;
  border-radius: 5px;
}

.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}
